# Ignore compiled binaries and build artifacts
[Oo]bj/
obj/**/*
Obj/**/*
[Bb]in/**/*
bin/**/*
Bin/**/*
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log
*.DS_Store
[Tt]humbs.db
_ReSharper.*

# Ignore Visual Studio-specific files
*.resharper
Ankh.NoLoad
